body {
    padding: 5px;
}

.label-form {
    font-weight: bold;
    font-size: small;
}

.label-option {
    font-size: small;
}

.title-form {
    color: indigo;
}

.title-list {
    color: blue;
}
